.m-10 {
    margin: 10px;
}

.w-40 {
    width: 40%;
}

textarea {
    white-space: pre-wrap;
}

.w-70 {
    width: 70%;

}

.bold-and-large {
    font-size: xx-large;
    font-weight: bold;
}

.w-30 {
    width: 30%;
}

#requestPojo,
#responsePojo {
    height: 15vh;
}

.panel textarea {
    height: 40vh;
}

.content-div {
    height: 100%;
}



.left-side-div,
.right-side-div {
    width: 48%;
    height: 85%;
}

.right-side-div {
    position: absolute;
    right: 1%;
    top: 0%;
}

.w-100 {
    width: 100%;
}

.main-container {
    height: 100vh;
}

.json-input {
    height: 30%;
}

.json-output {
    height: 30%;
}


.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

/*accordian*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.action-buttons {
    padding: 2rem 2rem;
}

.action-buttons div button {
    width: 90%;
    height: 50px;
}

.baseNameContainer {
    font-size: large;
    font-weight: bold;
}

.baseNameContainer input {
    font-weight: normal;
}


#response,
#request {
    height: 21rem;
}

.defaults-container {
    padding: 1rem;
    font-size: 2rem;
}

.float-right {
    float: right;
}

.bold {
    font-weight: bold;
}


header .navbar {
    background: #BA0060;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar > .container, .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand a {
    color: #E20074;
    cursor: pointer;
}

.navbar-brand img {
    vertical-align: middle;
    border-style: none;
}
.container .accordion{
    background: #bebebe !important;
    margin-bottom: 2px;
}

button {
    background-color: #E20074;
    border: 1px solid #BEBEBE;
    color: #FFFFFF;
    border-radius: 23px;
    cursor: pointer;
    font-family: "Tele-GroteskFet", sans-serif !important;
    font-weight: normal;
    padding: 6px;
}

input, button{
    padding: 6px;
}

textarea {
    margin: 5px !important;
}

button:disabled{
    background-color: #bebebe !important;
    color: white;
}

.removeDownloadDisable{
    font-size: 20px;
}

.panel .row{
    padding: 5px;
}